*{
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    background-color: #333;
    font-family: sans-serif;
}
.wrap{
    max-width: 60%;
}
.bar{
    color: #fff;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}
.bar .thumb{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 10px;
    background-color: #000;
    border-radius: 60px;
    margin-top: 20px;
}
.bar span{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(to left,#ff0057,#ffeb3b);
    border-radius: 50px;
}


.bar:nth-child(1) span{
    width: 65%;
}
.bar:nth-child(2) span{
    width: 75%;
}
.bar:nth-child(3) span{
    width: 50%;
}
.bar:nth-child(4) span{
    width: 80%;
}
.bar:nth-child(5) span{
    width: 40%;
}
.bar abbr{
    width: 50px;
    display: inline-block;
    height: 35px;
    border-radius: 50px;
    text-align: center;
    line-height: 35px;
    position: absolute;
    top: 35px;
    position: absolute;
    top: 30px;
    margin-left: -5px;
    z-index: 1;
   
    background: linear-gradient(to left,#ff0057,#ffe007);
    box-shadow:0 5px 30px rgba(255 0 87 / 50%),0 5px 30px rgba(255 255 59 / 50%);
}
.bar:nth-child(1)abbr{
    left: 65%;
}
.bar:nth-child(2)abbr{
    left: 75%;
}
.bar:nth-child(3)abbr{
    left: 50%;
}
.bar:nth-child(4)abbr{
    left:80%;
}
.bar:nth-child(5)abbr{
    left: 40%;
}



section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
section:nth-child(odd){
    background-color: #2d2d2b;
}
