body{
    background: url(bg.jpg);
    background-position: center;
    background-size: cover;
    height: 98vh;
    display: flex; /* fills all abailable space */
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
}
.glass-effect{
    background: url(bg.jpg);
    background-position: center;
    background-size: cover;

    width: 1300px;
    height: 700px;
    background: radial-gradient(rgba(255,255,255,0.8));
    border-radius: 20px;
    
    box-shadow: 5px 10px 20px rgba(0,0,0,0.8);/* 5px for x axis 10px for y axis and 20px for opacity */
    margin: 0;
    padding: 0;
    font-family: cursive;
}
.logo{
    color: #fff;
    font-size: 40px;
    float: left;
    cursor: pointer;
    letter-spacing: 5px;
    transition: .6s;
}
.logo:hover{
    color:green;
}
nav{
    display: flex;
    align-items: center;
    padding : 10px 5%;
}
nav ul{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 3px;
}
nav ul li a:hover{
    color:greenyellow;
}
img{
    width: 40px;
    width: 40px;
    border-radius: 80%;
    cursor: pointer;
}
.info{
    margin-left: 30px;
    padding: 18px;
    color:#fff;
    font-size: 30px;
    
}
button{
    cursor: pointer;
    text-decoration: none;
    padding: 8px 18px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    font-family: cursive;
    background-color: #7EC4D1;
    border: 0;
    outline: 0;
    border-radius: 5px;
    transition: 0.5s;
}
button:hover{
    background-color: green;
    
}

